<% if options %>
  <div class="" data-toggle="buttons">
    <% options.each do |option| %>
      <label class="btn btn-info">
        <input type="radio" name="answer" id="<%= option %>" autocomplete="off" /><%= option %>
      </label>
    <% end %>
  </div>
<% end %>