<% if options && text %>
  <div class="form-group">
    <label><%= text %></label>
  </div>
  <div class="" data-toggle="buttons">
    <% options.each do |option| %>
      <label class="btn btn-info">
        <input type="radio" name="answer[body][]" value="<%= option %>" autocomplete="off" /><%= option %>
      </label>
    <% end %>
  </div>
<% end %>